name: Flutter CI/CD test

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: code checkout
        uses: actions/checkout@v4

      - name: setup flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: install dependencies
        run: flutter pub get

      - name: build app
        run: flutter build apk --release

      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: alex_counter_app.apk
          path: build/app/outputs/flutter-apk/app-release.apk




